* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    transition: background 1s ease-in;
}

main {
    background: rgb(0,0,0);
    box-shadow: 10px 10px 40px 5px rgba(0,0,0,0.5);


    display: flex;
    align-items: center;
    justify-content: center;

    width: min(23.6rem, 100%);
    margin: 0 auto;

    height: 10.2rem;
    border-radius: 5.9rem;
    gap: 4rem;

    position: relative;
    
}


main > button {
    height: auto;
    background: none;
    width: 35%;
    border: none;
    cursor: pointer;
}

.circle {
    position: absolute;
    height: 8.7rem;
    width: 8.7rem;
    border-radius: 6rem;
    background: #fff;
    left: 1rem;
}

img {
    height: 100%;
    min-height: 8.5rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* Variables */

.DarkTheme {
    transition: background 1s ease-in;
    background: #292C35;
}


.moveCircleSun {
    animation: moveCircleToSun 1s ease-in forwards;
}

.moveCircleMoon {
    animation: moveCircleToMoon 1s ease-in forwards;
}


.opacity {    
    animation: opacity 1s ease-in forwards;
}


/* Animations */

@keyframes opacity {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes moveCircleToMoon {
    0% {
        transform: translateX(calc(4.5rem + 100%));
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes moveCircleToSun {
    0% {
        transform: translateX(0);
    }


    100% {
        transform: translateX(calc(100% + 4.5rem));
    }

}